div(ng-show="main.tool == 'help'")
  h3.ta-center(ng-click="main.modalHelp()") Help
  hr(style="margin: 3px 0px;")

  h5.mt-2 Quick help:
  p.ml-2
    a(href="", ng-click="main.tutorial()") Click here to run the interactive tutorial.
    br
    a(href="", ng-click="main.modalHelp()") Click here to display the getting started.

  h4.mt-2 Frequently Asked Question
  h5.clickable.no-select(ng-click="main.faq1 = !main.faq1")
    i.fa.mr-2(ng-class="main.faq1 ? 'fa-eye' : 'fa-eye-slash'")
    | How do I create a resource (node)?
  p.just(ng-if="main.faq1")
    |  There are two ways to create resources:
    br
    |  (i) drag-and-drop the result of a search, and, 
    img.c-img-full(src="/images/02.gif")
    |  (ii) shift-click in the query creator (this will create a new variable).
    img.c-img-full(src="/images/00.gif")

  h5.clickable.no-select(ng-click="main.faq2 = !main.faq2")
    i.fa.mr-2(ng-class="main.faq2 ? 'fa-eye' : 'fa-eye-slash'")
    | How do I create a property (edge)?
  p.just(ng-if="main.faq2")
    |  There are two ways to create properties:
    br
    |  (i) drag-and-drop an existing property from the describe tool, and,
    img.c-img-full(src="/images/03.gif")
    |  (ii) press shift and drag one element to another.
    img.c-img-full(src="/images/01.gif")

  h5.clickable.no-select(ng-click="main.faq3 = !main.faq3")
    i.fa.mr-2(ng-class="main.faq3 ? 'fa-eye' : 'fa-eye-slash'")
    | How do I delete an element?
  p.just(ng-if="main.faq3")
    |  To remove an element use right click to display more options and click in 
    i  remove
    img.c-img-full(src="/images/04.gif")

  h5.clickable.no-select(ng-click="main.faq4 = !main.faq4")
    i.fa.mr-2(ng-class="main.faq4 ? 'fa-eye' : 'fa-eye-slash'")
    | What do colors mean?
  p.just(ng-if="main.faq4")
    |  The colour of the borders denotes the type of the elements:
    |  Resources can be 
    span(style="color: #1f77b4;") blue (constraints)
    |  or   
    span(style="color: #2ca02c;") gree (variables)
    |.
    br
    |  Properties can be  
    span(style="color: #ff7f0e;") orange (object properties), 
    span(style="color: #9467bd;") purple (datatype properties)  
    | or  
    span(style="color: #d62728;") red (variable properties)
    |.
    img.c-img-full(src="/images/colors.png")

  h5.clickable.no-select(ng-click="main.faq5 = !main.faq5")
    i.fa.mr-2(ng-class="main.faq5 ? 'fa-eye' : 'fa-eye-slash'")
    |  What are the property types and what does it mean?
  p.just(ng-if="main.faq5")
    |  There are two property types:
    br
    |  (i) 
    span(style="color: #ff7f0e;") Object type properties 
    |  are properties that links two resources, and, (ii)  
    span(style="color: #9467bd;") Datatype properties 
    |  are properties that stored literal information (strings, numbers and so on), 
    |  this kind of data can not be stored as a resource and can not have properties.

//
  h5.mt-2 Components
  p.just
    |  The three main components of this interface are: 
    b  the query creator 
    | (the full page, below all the other componens), 
    b  the search engine
    |  (top-left corner) and 
    b  the tools panel
    |  (top-right corner).

  h6 The query creator:
  p.just
    |  The query creator is the main component of this interface, in it RDF resources and SPARQL variables are
    |  represented as border-colored boxes according to the type of element.
    |  Two main elements can be differentiated in this visualization, the resources and the properties.
    |  A resource represents a SPARQL variable or a specific set of RDF resources (IRIs), it can be transformed 
    |  from one to another at any time with the 
    i  edit tool. 
    |  Pressing &lt;shift+click&gt; in any part of the query creator will create a resource as a SPARQL variable. 
    img.c-img-full(src="/images/00.gif")
    b  Properties
    |  serve as a link between two resources and are represented as an internal box to the source resource
    |  and an arrow pointing to the target resource.
    |  We can create properties by pressing &lt;shift&gt; and dragging from one resource to the other.
    img.c-img-full(src="/images/01.gif")
    |  There is a special type of property denoted literal property that unlike normal properties does not point to
    |  another resource, these properties can be made to require information (eye) or to filter the possible results
    |  of the source resource.
  p.just
    |  This component has three basic forms of interaction: drag & drop from other components, direct modification
    |  using the &lt;shift&gt; key and additional operations using the right click.

  h6 The search engine:
  p.just
    |  The search engine will help you finding an specific RDF resource searching in the dataset by 
    i(title="rdfs:label") label.
    img.c-img-full(src="/images/02.gif")

  h6 The tools panel
  p.just
    |  The tools panel show...
    img.c-img-full(src="/images/03.gif")
