doctype html
html(lang="en", ng-app="rdfvis")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    base(href="/")
    // Bootstrap 4 CSS
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/introjs.css")
    // My CSSs
    link(rel="stylesheet", href="styles/style.css")
    link(rel="stylesheet", href="styles/graph.css")
    title="RDF Visualization"
  body(ng-controller="MainCtrl as main")
    block content
    // Bootstrap 4.0 js
    //script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    // AngularJS
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js")
    // D3
    script(src="https://d3js.org/d3.v3.min.js")
    //script(src="https://d3js.org/d3.v5.min.js")
    //Intro
    script(src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.min.js")
    // Downloaded components
    script(src="components/ui-bootstrap-tpls-2.5.0.min.js")
    // My scripts
    script(src="scripts/app.js")
    script(src="scripts/controllers/main.js")
    script(src="scripts/directives/visual-query-builder.js")
    script(src="scripts/services/settings.js")
    script(src="scripts/services/query.js")
    script(src="scripts/services/request.js")
    script(src="scripts/services/property-graph.js")
