svg{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

text {
  pointer-events: none;
}

marker{
  fill: #333;
}

.connect-node {
  stroke-dasharray: 3 1;
}

path.link {
  fill: none;
  stroke: #333;
  stroke-width: 6px;
  cursor: default;
}

path.link.hidden{
  stroke-width: 0;
}

.highlight {
  pointer-events: none;
  position: fixed;
  box-shadow: 0 0 10px rgba(81, 203, 238, 1);
  z-index: 0;
  width:100%;
  height:100%;
}

.mainRect {
  font-family: serif;
  fill: #f8f8f8;
  stroke-width: 2px;
  stroke: red;
}

.mainRect:hover {
  fill: #f1f1f1;
}

.mainTitle {
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 16;
}

.innerRect, .small-box {
  font-family: serif;
  fill: #f3f3f3;
  stroke-width: 1px;
  stroke: blue;
}

.innerRect:hover, .small-box:hover {
  fill: #f0f0f0;
}

.innerText {
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 14;
}

.aw-icon {
  text-anchor: middle;
  alignment-baseline: central;
  font-size: 14;
  font-family: FontAwesome;
}

.context-menu {
}

.context-menu > .menu-entry {
  cursor: pointer;
}

.menu-entry-text {
  fill: steelblue;
  font-size: 13px;
  pointer-events: none;
}

.menu-entry-rect {
  fill: rgb(244,244,244);
  stroke: white;
  stroke-width: 1px;
}

.menu-entry-rect:hover {
  fill: rgb(200,200,200);
}

.menu-entry.disabled {
  cursor: not-allowed;
}
