body, html {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  /*min-width: 750px;*/
}

visual-query-builder {
  position:absolute;
  left:0;
  right:0;
  height: 100%;
}

#mid-help {
  cursor: pointer;
  position: fixed;
  top: 45%;
  left: 42%;
  z-index: 999;
  text-align: center;
}

#mid-help:hover {
  color: steelblue;
}

.no-select {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.no-click {
  pointer-events: none;
}

.clickable {
  cursor:pointer;
}

.just {
  text-align: justify;
}

.c-img-full {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.bordered {
  display: inline-block;
  border: 2px solid #9467bd;
  border-radius: 4px;
  padding: 1px 3px;
  background-color: #f8f8f8;
}

.tab-hl {
  box-shadow: inset 0px -25px 25px -35px rgba(0,123,255,1);
}

/* Do no show introjs number */
.introjs-helperNumberLayer {
  display: none;
}

/* Code mirror height */
.CodeMirror {
  height: unset;
  border: 1px solid #d3d3d3;
  margin-top: 3px;
}

/* Search styles */
#search-container {
  position: absolute;
  left: 10px;
  top: 10px;
  bottom:10px;
  z-index: 20;
  width: 250px;
  pointer-events: none;
}

#search-input-container {
  width: 250px;
  display: inline-block;
  position: relative;
  pointer-events: auto;
}

#search-icon {
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 13px;
}

#search-input {
  padding-left: 35px;/*
  width: 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  padding-right: 0px;
}

#search-input:focus {
  width: 100%;
  padding-right: 12px;
}

#search-input.active {*/
  width: 100%;
  padding-right: 12px;
}

#search-results-panel {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  padding: 6px 12px 6px 12px;
  overflow-y: scroll;
  height: calc(100% - (40px));
  transition: all linear 0.5s;
  background-color: rgba(255, 255, 255, 0.75);
}

#search-results-panel.ng-hide {
  height: 0;
}

.has-types {
}

.classes {
   font-size:10px;
   line-height: 10px;
}

/* Right-top tools styles */
#tools {
  position: absolute;
  right: 10px;
  top: 10px;
  bottom:10px;
  z-index: 20;
  width: 400px;
  pointer-events: none;
}

#right-panel {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px 6px 12px;
  overflow-y: scroll;
  height: calc(100% - (40px));
  transition: all linear 0.5s;
  background-color: rgba(255, 255, 255, 0.75);
  pointer-events: auto;
}

#right-panel.ng-hide {
  height: 0;
}

/* resources representation for describe */
.c-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dt-table > .row {
  border-bottom: 1px solid #d3d3d3;
}

.dt-table > .row:hover {
  background-color: rgba(0,0,0,.050);
}

.dt-table > .row > .col-md-8 > div:hover {
  background-color: rgba(0,0,0,.075);
}

.dt-table > .row > .col-md-4,
.dt-table > .row > .col-md-8 {
  padding: 0px 3px;
}

.text-container {
  font-size: 1em;
  line-height: 1.2em;
  /*max-height: 5.25em;*/
  max-height: calc(4.8em + 7px);
  overflow: hidden;
  position: relative;
}

.text-container.active {
  max-height: 100%;
}

.more-less {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background: white;
}

.wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.literal {
  cursor: grab;
  display: inline-block;
  padding: 2px 3px;
  border: 2px solid #9467bd;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-family: serif;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
  font-size: 1em;
  line-height: 1.2em;
  max-height: calc(3*1.2em + 6px);
  overflow: hidden;
}

.dt-table > .row > .col-md-4 > .literal {
  width: calc(100% - 8px);
  margin: 3px 0px;
}

.fakeRect {
  cursor: grab;
  pointer-events: auto;
  font-family: serif;
  background-color: #f8f8f8;
  border: 2px solid red;
  border-radius: 6px;
  width: 220px;
  min-height: 30px;
  padding: 3px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
  margin-bottom: 6px;
}

.propRect {
  pointer-events: auto;
  font-family: serif;
  background-color: #f8f8f8;
  border: 2px solid grey;
  border-radius: 6px;
  width: 100%;
  padding-top: 3px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
  margin-bottom: 6px;
  overflow-y: hidden;
  -webkit-transition: max-height 0.4s ease-in-out;
  transition: max-height 0.4s ease-in-out;
  max-height: 30px;
}

.propRect.active {
  max-height: 350px;
}

.propRect > .head {
  padding-left:8px;
  padding-right:50px;
  display:inline-block;
  width: 100%;
  height: 1.2em;
  position: relative;
}

.propRect > .head > .info {
  position: absolute;
  right: 0px;
  display:inline-block;
  width: 50%;
}

.propRect > .head > .info > span {
  margin-right: 6px;
}

.inner-addon {
  width: calc(100% - 30px);
  position: relative;
}

.inner-addon .fa {
  position: absolute;
  pointer-events: none;
}

.right-addon .fa {
  right: 0px;
}

.right-addon input {
  background-color: #f8f8f8;
  height: 1.4em;
  padding: 0px;
  border: 0px;
  box-shadow: unset;
  border-radius: unset;
  padding-right: 16px;
  width: 0px;
  margin-left: calc(100% - 16px);
  transition: all linear 0.3s;
}

.right-addon input:focus {
  padding-left: 5px;
  background-color: rgba(248, 248, 248, 0.95);
  border-color: unset;
  box-shadow: unset;
  width: 100%;
  margin-left: 0;
  border-bottom: 1px solid black;
}

.propRect > hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

.propRect > .fakeRect-container {
  max-height: 316px;
  overflow-y: scroll;
}

.propRect > .fakeRect-container > .fakeRect {
  width: auto;
  display: inline-block;
  margin: 3px 3px;
  padding: 3px;
}

#right-buttons {
  height: 40px;
}

#right-buttons > button {
  pointer-events: auto;
  margin-left: 4px;
}

/* To fix typeahead (bootstrap 3) */
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}

.input-group-typeahead > div + div {
  flex: 1 1 auto;
}

#settings-selected-class, #edit-var-class {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-right: 40px;
}

[uib-typeahead-popup].dropdown-menu {
  width: 100%;
  overflow-x: scroll;
}

/* Fix modal */
.fade.in {
    opacity: 1;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

/* status icons for inputs */
.loading {
  background-image: url("/images/spin.svg");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 10px);
}

.error {
  background-image: url("/images/error.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 10px);
}

/* edit panel styles */
.input-group-sm > .custom-select {
  height: calc(1.8125rem + 2px);
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
}

.custom-container-title {
  width:100%;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 4px 12px 4px 12px;
  background-color: rgb(233, 236, 239);
  display: inline-block;
  /*overflow: hidden;*/
  cursor:pointer;
  transition-delay: 0.5s;
  position: relative;
}

.custom-container-title.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition-delay: 0.0s;
}

.custom-container-title > .fa {
  margin-top: 4px;
}

.custom-container-content {
  padding: 0px 6px 4px 6px;
  width: 100%;
  border-right: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  transition: all linear 0.5s;
  margin-top: -5px;
  max-height: 0px;
}

.custom-container-content.active {
  margin-top: 0px;
  max-height: 250px;
  overflow-y: scroll;
}

.custom-container-title > .info {
  position: absolute;
  right: 24px;
  display:inline-block;
  width: 50%;
}

.custom-container-title > .info > .inner-addon {
  width: calc(100% - 12px);
  font-size: 14px;
}

.custom-container-title > .info > .inner-addon > i.fa {
  margin-top: 5px;
}

.custom-container-title > .info > .right-addon input,
.custom-container-title > .info > .right-addon input:focus {
  background-color: rgb(233, 236, 239);
  padding-right: 30px;
}

.alert-sm {
  padding: 0.25rem 1.25rem;
}

#edit-var-name, #edit-lit-name {
  margin-left: -20px;
  padding-left: 20px;
}

.edit-var-name-prefix {
  border-top: 1px;
  padding-top: 6px;
  z-index: 10;
  width: 20px;
  text-align: right;
}

.ta-center {
  text-align: center;
}

.ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}
