body, html {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  /*min-width: 750px;*/
}

visual-query-builder {
  position:absolute;
  left:0;
  right:0;
  height: 100%;
}

#d3vqb {
  /*background: red;*/
  /*border: 1px solid red;*/
}

/* Do no show introjs number */
.introjs-helperNumberLayer {
  display: none;
}

#search-container {
  position: absolute;
  left: 10px;
  top: 10px;
  bottom:10px;
  z-index: 20;
  width: 250px;
  pointer-events: none;
}

#tools {
  position: absolute;
  right: 10px;
  top: 10px;
  bottom:10px;
  z-index: 20;
  width: 400px;
  pointer-events: none;
}

#search-input-container {
  width: 250px;
  display: inline-block;
  position: relative;
  pointer-events: auto;
}

#search-icon {
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 13px;
}

#search-input {
  padding-left: 35px;/*
  width: 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  padding-right: 0px;
}

#search-input:focus {
  width: 100%;
  padding-right: 12px;
}

#search-input.active {*/
  width: 100%;
  padding-right: 12px;
}

.click-auto {
  pointer-events: auto;
}

#search-results-panel {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  padding: 6px 12px 6px 12px;
  overflow-y: scroll;
  height: calc(100% - (40px));
  transition: all linear 0.5s;
  background-color: rgba(255, 255, 255, 0.75);
}

#search-results-panel.ng-hide {
  height: 0;
}

#right-panel {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px 6px 12px;
  overflow-y: scroll;
  height: calc(100% - (40px));
  transition: all linear 0.5s;
  background-color: rgba(255, 255, 255, 0.75);
  pointer-events: auto;
}

#right-panel.ng-hide {
  height: 0;
}

.align2 {
  margin-top: -2px;
}

.fakeRect {
  pointer-events: auto;
  font-family: serif;
  background-color: #f8f8f8;
  border: 2px solid red;
  border-radius: 6px;
  width: 220px;
  min-height: 30px;
  /*line-height: 30px; multiline */
  padding-top: 3px;
  font-weight: bold;
  text-align: center;
  font-size: 14;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
  margin-bottom: 6px;
}

.propRect {
  pointer-events: auto;
  font-family: serif;
  background-color: #f8f8f8;
  border: 2px solid grey;
  border-radius: 6px;
  width: 100%;
  padding-top: 3px;
  font-weight: bold;
  text-align: center;
  font-size: 14;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
  margin-bottom: 6px;
  overflow-y: hidden;
  -webkit-transition: max-height 0.4s ease-in-out;
  transition: max-height 0.4s ease-in-out;
  max-height: 30px;
}

.propRect.active {
  max-height: 350px;
}

.propRect > .head {
  padding-left:8px;
  padding-right:30px;
  display:inline-block;
  width: 100%;
  text-overflow: ellipsis;
  /*overflow: hidden;*/
  height: 1.2em;
  white-space: nowrap;
  position: relative;
}

.propRect > .head > .info {
  position: absolute;
  right: 0px;
  display:inline-block;
  width: 50%;
}

.propRect > .head > .info > span {
  margin-right: 6px;
}

/* enable absolute positioning */
.inner-addon {
  width: calc(100% - 30px);
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  pointer-events: none;
}

/* align icon */
.right-addon .glyphicon {
  right: 0px;
}

/* add padding  */
.right-addon input {
  background-color: #f8f8f8;
  height: 1.4em;
  padding: 0px;
  border: 0px;
  box-shadow: unset;
  border-radius: unset;
  text-align: right;
  padding-right: 16px;
  width: 0px;
  margin-left: calc(100% - 16px);
  transition: all linear 0.3s;
}

.right-addon input:focus {
  border-color: unset;
  box-shadow: unset;
  width: 100%;
  margin-left: 0;
  border-bottom: 1px solid black;
}

.propRect > hr {
  margin-top: 3px;
  margin-bottom: 3px;
}

.propRect > .fakeRect-container {
  max-height: 316px;
  overflow-y: scroll;
}

.propRect > .fakeRect-container > .fakeRect {
  width: auto;
  display: inline-block;
  margin-right: 6px;
  padding: 3px;
}

.btn.active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

#right-buttons {
  height: 40px;
}

#right-buttons > button {
  pointer-events: auto;
  margin-left: 4px;
}
